.botonRegistro{
    width: 300px;
    height: 45px;
    border: none;
    background-color: white;
    font-family: "Roboto";
    font-weight: bold;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    border-radius: 5px;
    color: #6600FF;
    display: flex;
    align-items: center;
    justify-content: center;
}