@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;700&display=swap');

.main-container {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0 5px 20px ;
}

.Scard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    border-radius: 10px;
    border: 1px #B9B7B7 solid;
}

.info {
    display: flex;
    flex-direction: row;
}

.datosCowork {
    display: flex;
    margin-left: 30px;
    margin-top: 17px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

p {
    margin: 0;
}

p.nombre {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 23px;
}

.cowork-img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.ver {
    margin-right: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.btn-ver {
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #4B03BA;
    color: #FFFFFF;
    font-size: 1.3em;
    margin: 0
}

.btn-ver:hover {
    color: white;
    text-decoration: none;
}

.amenities {
    margin: 10px 5px 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 411px) {
    .cowork-img {
        width: 33%;

    }
}