.header{
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-image: url('../../../assets/SVG/header.svg');
    background-repeat: no-repeat;
    z-index: -1;
    padding:2em;
}
.header-container{
	width: min(90%,79rem);
	margin-inline: auto;
}


.header div.split div.titulo{
    color:#511E78;
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-family: 'ITC Benguiat Gothic Std';
    
    
}

.header .conjunto-svg{
    width: 500px;
    height: 500px;
    display: none;
}
.header div.split div.titulo h1{
    font-size:60px;
    
    
}
.header div.split div.titulo h5{
    font-size: 35px;
    
    color:rgba(0, 0, 0, 0.596);
}
@media (min-width: 50em){
    .header div.split div.titulo{
        margin-top: 0px;
        
        
        
    }
	
    .header .conjunto-svg{
        
        display: block;
    }
    .header div.split div.titulo h1{
        font-size:150px;
        
        
    }
}
.header .split .svg .conjunto-svg .cls-1 {
    fill: #fed278;
}
.header .split .svg .conjunto-svg .cls-2 {
    fill: #fce9c2;
}
