@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

.AmenitiesOficina-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4%;
}

.matriz-detalle{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.matriz-detalle div{
    width:100%;
    
}

.amenities-detalle-gris {
    display: flex;
    flex-direction: row;
}

.matriz-detalle div  .borde-detalle{
    display:flex;
    align-items: center;
    justify-content:center;
    width:125px;
    height: 100px;
    border-radius:0px;
    background-color: #C4C4C4;
    margin: 10px;
}
