
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --txt-color: #FFFFFF;
}
body{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

footer{
  background-image: url('./Footer.svg');
  background-repeat: repeat;
  display: grid !important;
  grid-template-columns: 33% 33% 33%;
  color: var(--txt-color );
  width:112vw;
  height:500px;
  padding: 50px;
  padding-left: 200px;
}

.footer-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}
.footer-column a{
  margin-top: 40px;
  font-size: 25px;

}
.footer-img{
  justify-content: space-between;
  color: black;
  width: 25%;
  display: flex;
  
}
.footer-img .icon{
  width:50px;
  height:50px;
}
.container{
padding-top: 7em !important; 
margin-bottom: 4em !important;
width: 100vw !important;  
}

.split{
  display: flex;
  flex-direction: row;
}
.split> *{
  flex-basis: 100%;
}
.split> *+*{
  margin-left: 4em;
  margin-top: 0em;
}
.product-link{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Yu Gothic' !important;
  font-weight: lighter !important;
  font-size:30px !important;
}
.product-circle{
  background-color: rgb(228,213,255);
  height: 236px;
  width: 236px;
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 50%;
}
.product-circle img{
  height: 195px;
  width: 195px;
}


/* Resposive */
/* 
.split{
  display: flex;
  flex-direction: column;
}



.split> +{
  margin-top: 2em;
}

@media (min-width: 50em){
  .split{
      flex-direction: row;

  }
  .split> *{
      flex-basis: 100%;
  }
  .split> +{
      margin-left: 4em;
      margin-top: 0em;
  }
} */