.search-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around !important;
  width: 70vw !important;
}

.cards-coworks {
  margin-top: 20px;
  width: 50%;
}
.botonSearch {
  user-select: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #4b03ba;
  color: #ffffff;
  font-size: 1.9em;
  margin: 0;
}

.botonSearch:hover {
  color: white;
  text-decoration: none;
}

.botonSearch:hover {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.cw-card {
  width: 100%;
}
.columnas-cartas-mapa{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.scrollable {
  background-color: #ffff !important;
  overflow-y: scroll !important;
  max-height: 700px !important; /*deberia ser del alto del mapa*/
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable::-webkit-scrollbar-thumb {
  background: rgba(181, 175, 175, 0.5);
  border-radius: 5px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(181, 175, 175, 0.75);
}

.maps {
  margin-left: 2%;
  width: 50%;
  max-height: 700px !important;
  
}

@media screen and (max-width: 1366px) {
  .filters {
    width: 100vw !important;
  }
}

@media screen and (max-width: 768px) {
  .cards-coworks {
    width: 100%;
  }

  .cw-card:nth-of-type(1) {
    margin-top: 30px;
  }

  .search-filters {
    width: 100vw;
    height: 600px;
  }

  .filters {
    flex-direction: column;
    justify-content: space-around;
  }

  .maps{
    display: none;
  }
}
