.picker {
    display: flex;
    align-items: center;
    width: 150px;
    margin-top: 30px;
}

.input-fecha-mui {
    border: 0;
    margin-left: 15px;
    outline: none;
    width: 100px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 15px;
    user-select: none !important;
    margin-top: 10px;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #511E78 !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected  {
    background-color: #511E78 !important;
}

.css-i4bv87-MuiSvgIcon-root {
    fill: black !important;
}