.contenedor-principal{
    border-radius: 10px;
    width: 565px;
    height: 62px;
    padding: 7px 8px 8px 8px;
    margin: 20px 20px 20px ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: rgba(174, 170, 182, 0.59);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.contenedor-blanco {
    border-radius: 10px;
    background-color: white;
    height: 48px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.label-input-searchbar {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 13px;
    position: relative;
    left: -8px;
}

.lupa {
    width: 40%;
    border-radius: 5px 0 0 5px;
    position: relative;
    z-index: 1;
}

.fechas {
    width: 60%;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
}

#input-llegada::-webkit-calendar-picker-indicator {
    position: absolute;
    cursor: pointer;
    left: -65px;
    top: -7px;
    width:25px;
    height:25px;
}

#input-salida::-webkit-calendar-picker-indicator {
    position: absolute;
    cursor: pointer;
    left: -65px;
    top: -7px;
    width:25px;
    height:25px;
}

.busqueda {
    display: flex;
    align-items: center;
}

.input{
    border: 0;
    border-radius: 0;
    outline: none !important;
}

.input-fecha{
    position: relative;
    width: 100%;
}

.fecha-entrada{
    width: 50%;
    border: 0 !important;
    border-radius: 0;
    position: relative;
    top: -43px;
}

.fecha-salida{
    width: 50%;
    border: 0 !important;
    border-radius: 0;
    position: relative;
    top: -43px;
}

.separator {
    border: 1px solid #B5B5B5;
}

/*#input-llegada, #input-salida {*/
/*    width: 70%;*/
/*    position: relative;*/
/*    left: 20px;*/
/*    top: 2px;*/
/*}*/

@media screen and (max-width: 768px) {
    .contenedor-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 130px;
        width: 300px;
    }

    .contenedor-blanco {
        width: 100%;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .lupa, .fechas {
        border-radius: 5px;
    }

    .separator:nth-of-type(1) {
        display: none;
    }

    .input-fecha {
        position: relative;
        top: -15px
    }

    .fecha-entrada{
        top: -30px;
        left: -2px;
    }

    .fecha-salida{
        top: -30px;
        left: -10px;
    }

    .label-input-searchbar {
        position: relative;
        top: 12px !important;
    }

    /*#input-llegada, #input-salida {*/
    /*    width: 70%;*/
    /*    left: 5px;*/
    /*}*/

    /*#input-salida {*/
    /*    position: relative;*/
    /*}*/

    /*#input-llegada::-webkit-calendar-picker-indicator {*/
    /*    left: -60px;*/
    /*    top: -4px;*/
    /*    width:20px;*/
    /*    height:20px;*/
    /*}*/

    /*#input-salida::-webkit-calendar-picker-indicator {*/
    /*    left: -55px;*/
    /*    top: -4px;*/
    /*    width:20px;*/
    /*    height:20px;*/
    /*}*/

}
