.contenedor-principal{
    outline: 8px solid #BABBC4;
    outline-offset: 0px;
    border-radius: 5px;
    border: 1px #B9B7B7 solid;
    width: 565px;
    padding: 5px;
    margin: 20px 20px 20px ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.busqueda{
    width: 250px;
    display: flex;
    align-items: center;
}

.input{
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-radius: 0%;
}

.input-fecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.fecha-entrada{
    width: 130px;
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-radius: 0%;
}

.fecha-salida{
    width: 130px;
    border: 0 !important;
    border-radius: 0%;
}
